body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}
p {
  color: #8f8f8f;
}
.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-right: 2%
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Title */
#title .container-fluid {
  padding-top: 3% 15% 7%;
  text-align: left;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 70%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}
.feature-box {
  padding: 4.5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}
.pricing-column {
  padding: 3% 2%;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.price-heading {
  font-size: 1.5rem;
}

/* Call to Action */
#cta {
  font-family: 'Montserrat';
  font-weight: 900;
}

/* Footer */
#footer {
  font-size: 1.3rem;
}
.social {
  margin: 2% 1%;
}

@media (max-width: 1187px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
